* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 1000px;
}

/* navbar */
nav {
    background-color: rgba(255, 199, 55, 0.3);
}
/* close */

/* menu about */
.navigasi {
    color: #575757;
    font-weight: bold; 
    font-size: 18px;
    text-decoration: none;
}
.navigasi:hover {
    color: salmon;
}
.menu-about {
    color: #c4c4c4;
    font-size: 18px;
    text-decoration: none;
}
.menu-about:hover {
    color: salmon;
}
.menu-about-con {
    color: #3A3A3A;
    font-size: 18px;
}
.text-p {
    color: #c4c4c4;
}
.title-detail {
    font-weight: 600;
    color: #3A3A3A;
}
.text-title-detail {
    color: #c4c4c4;
}
.title-about {
    font-size: 20px;
}
.text-about {
    /* width: 556px; */
    color: #c4c4c4;
    font-size: 16px;
}
.icon {
    width: 20px;
}
.text-location {
    padding-left: 5px;
    margin-right: 15px;
    font-size: 12px;
    color: #575757;
}
.open {
    font-weight: thin;
    font-size: 14px;
    padding-left: 10px;
}
.time {
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}
.menu-baru {
    background-image: url(../img/bckgrnd/Vector\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 270px;
}
.prince {
    color: #0E9803;
}
.btn {
    background-color: #FFC737;
    border: none;
    border-radius: 50px;
    width: 70px;
    color: white;
    font-size: 12px;
    margin-left: 25px;
}
.logo-btn{
    width: 30px;
}
.text-beli {
    padding-left: 14px;
}
.rating {
    float: right; color: #c4c4c4;
    font-size: 14px;
    margin-top: -27px;
    padding-left: 5px;
}
.rating2 {
    float: right;
    color: #c4c4c4;
    font-size: 14px;
    margin-top: -26px;
}
.logo-rating {
    margin-top: -25px;
    margin-right: 26px;
}
.prince {
    width: 245px;
}
/*  */

/* testimonial */
.testimoni {
    background-image: url(../img/bckgrnd/Vector\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 270px;
} 
.title-testimoni {
    font-size: 18px;
}
.card {
    padding: 10px;
}

.card-product {
    height: 260px;
}
.span-kopiku {
    color: #FFC737;
}
.profil-testi {
    
}
.testi1 {
    /* padding-left: 45px; */
}
.name-testi {
    font-size: 13px;
}
.rating-testi {
    font-size: 14px;
    color: #c4c4c4;
}
.coment {
    font-size: 12px;
    color: #575757;
}
/* close testi */

/* location */
.location {
    background-image: url(../img/bckgrnd/Kontak.png);
    background-position-x: -120px;
    background-repeat: no-repeat;
}
iframe {
    margin-top: 45px;
}
/* close location */


.card-product 

/* footer */
#footer {
    background-color: #3A3A3A;
}
.text-footer {
    color: white;
}
.title-footer {
    font-size: 18px;
    font-weight: bold;
}
.kata-footer {
    font-size: 12px;
}
.button {
    border: none;
    background-color: #FFC737;
    width: 115px;
    color: white;
    font-size: 14px;
    height: 40px;
    margin-top: -2px;
    z-index: 1;
}
.form-control {
    background-color: #838383;
    border: none;
    font-size: 12px;
    height: 35px;
    cursor: text;
}
/*  */

/* carousel */
.owl-theme .owl-nav  {
    margin-top: -330px;
    float: right;
}
.owl-carousel .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFC737;
    color: white;
}

/* responsive */
@media (min-width: 320px) and (max-width: 767px) {
    .small-image {
        display: none;
    }
    iframe {
        width: 282px;
        height: 300px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .testi1 {
        margin-left: -110px;
    }
    .name-testi {
        margin-top: 110px;
    }
    .rating-testi {
        margin-right: -100px;
    }
    .coment {
        margin-right: -120px;
    }
    iframe {
        width: 600px;
        height: 300px;
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .name-testi {
     padding-left: 22px;
    margin-top: -11px;
    }
    .coment {
        margin-left: 20px;
    }
    iframe {
        width: 600px;
        height: 300px;
    }
    .testi1 {
        padding-left: 45px;
    }
}

@media (min-width: 1300px) {
    .testi1 {
        padding-left: 30px;
    }
    iframe {
        width: 900px;
        height: 450px;
    }
}