@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.img-banner-hero {
        background-image: url('../img/img-banner/background-body-banner.png');
        height: 670px;
        background-repeat: no-repeat;
        background-size: cover;
    }

        #myBtn {
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #FFC737;
            color: white;
            cursor: pointer;
            width: 50px;
            height: 47.55px;
            border-radius: 5px;
        }

        html {
            scroll-behavior: smooth;
        }

        #myBtn {
            transition: 1s;
        }

    .navbar-logo {
        margin-right: 170px;
    }

    .navbar-navss {
        margin-right: 105px;
    }

    .nav-item {
        margin-left: 50px;
    }

    .nav-custome {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }

    .nav-custome:hover {
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        color: #FFC737;
    }

    .active-navbar {
        text-decoration: underline;
        color: #FFC737;
    }

    .nav-item {
        list-style: none;
    }

    .head-jumbroton-top {
        font-size: 36px;
        font-weight: 600;
        color: white;
        margin-top: 150px;
    }

    .text-jumbroton-top {
        font-size: 15px;
        color: white;
        font-weight: 200;
        margin-top: 10px;
        margin-bottom: 23px;
    }

    .text-Premium {
        color: white;
        font-weight: bold;
    }

    .btn-click-Me-cta {
        width: 190px;
        height: 40px;
        background-color: #FFC737;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        transition: 0.5s;
    }

    .btn-click-Me-cta:hover {
        width: 190px;
        height: 40px;
        background-color: #FFC737;
        color: #fff;
        font-size: 18px;
        box-shadow: 0px 7px 8px rgba(255, 199, 55, 0.25);
        border-radius: 5px;
    }


    .card-category-product {
        height: 61px;
        width: 275px;
    }
    .card-category-product2 {
        height: 61px;
        width: 275px;
    }

    .img-category {
        width: 64px;
        height: 50px;
        padding-top: 5px;
        padding-left: 5px;
        margin-top: 2px;
    }

    .card-body-category {
        margin-top: -7px;
        padding-left: 25px;
    }

    .text-category-paragraf {
        margin-top: -5px;
        margin-left: -20px;
    }

    .title-ctg {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 0;
        color: #3A3A3A;
    }

    .img-hand-banner-2:hover {
      transition: 1s ease-in-out;
      margin-left: -30px;
    }


    .ket-ctg {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 0;
        color: #BABABA;
    }

    .title-head {
        color: #575757;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;

    }

    .title-span {
        color: #FFC737;
    }

    .card-product-kopiku {
        width: 275px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .btn-buy-produt {
        width: 72px;
        height: 30px;
        background-color: #FFC737;
        font-size: 12px;
        border-radius: 100px;
        color: #fff;
        margin-top: 9px;
    }

    .btn-buy-product {
        width: 72px;
        height: 30px;
        background-color: #FFC737;
        font-size: 12px;
        border-radius: 100px;
        color: #fff;
        margin-top: 9px;
    }

    
    .title-produt-price {
        margin-bottom: 0; font-size: 13px;
        color: #3A3A3A;
    }


    .icon-chart {
        margin-top: -3px;
    }

    .price-one {
        margin-bottom: 0; font-size: 12px;
        color: #BABABA;
    }

    .price-two {
        margin-bottom: 0; font-size: 13px;
        color: #0E9803;
    }

    .price-span {
        font-size: 18px; 
        font-weight: bold;
    }

    .img-rating {
        margin-top: -2px;
    }

    .card-body-product {
        padding: 0px 20px 9px 20px;
    }

    /* about */
    .background-about {
        background-image: url('../img/background/background-about-kopiku.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 540.08px;
        margin-top: 110px;
    }

    .margin-about {
        margin-top: 80px;
    }

    .title-about {
        font-size: 18px;
        color: #575757;
        font-weight: bold;
        margin-top: 13px;
        margin-bottom: 16px;
    }

    .text-head-span-about {
        color: #FFC737;
    }

    .text-paragraf-about {
        font-size: 12px;
        color: #575757;
    }

    .btn-detail-about {
        width: 157px;
        height: 50px;
        background-color: #FFC737;
        font-size: 14px;
        color: white;
        margin-top: 10px;
        border: none;
    }

    .btn-detail-about:hover {
        width: 157px;
        height: 50px;
        background-color: #FFC737;
        font-size: 14px;
        color: white;
        box-shadow: 0px 4px 8px rgba(255, 199, 55, 0.3);
    }

    /* testimonials */
    .background-testimonials {
        background-image: url('../img/background/img-testi-background.png');
        background-repeat: no-repeat;
        height: 229px;
        background-position-x: 350px;
        padding: 60px;
        margin-top: 100px;
    }

    .top-testimonials {
        margin-top: 150px;
    }

    .card-testimonials {
        border: none;
    }

    .paragraf-testimonials {
        font-size: 12px;
        margin-bottom: 0;
    }

    .name-text-testimonials {
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
    }

    .col-text-testi {
        margin-left: 20px; 
        width: 309px;
    }

    .img-rate-testimonials {
        margin-top: 15px;
        margin-left: 90px;
    }

    .card-testimonials {
        width: 560px; 
        height: 119px;
        background: #FFFFFF;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px; 
        border: none;
    }

    .card-testi {
        height: 121px;
    }

    .testi1 {
        padding-left: 25px;
        float: right;
    }
    .rating-testi {
        padding-right: 10px;
    }
    .star {
        margin-top: -3px;
    }

    /* contact */
    .background-contact {
        background-image: url('../img/background/background-contact.png');
        height: 536px;
        background-repeat: no-repeat;
    }

    .text-paragraf-contact{
        color: #575757;
        font-size: 12px;
    }

    .top-margins-contact {
        margin-top: 90px;
    }

    .margin-iframe-map {
        margin-top: 35px;
    }

    /* card */
    .prince {
    color: #0E9803;
    }

.logo-btn{
    width: 30px;
}
.text-beli {
    padding-left: 14px;
}
.rating {
    float: right; color: #c4c4c4;
    font-size: 14px;
    margin-top: -27px;
    padding-left: 5px;
}

.logo-rating {
    margin-top: -25px;
    margin-right: 26px;
}
.prince {
    width: 245px;
}

#img-star {
    width: 16px;
    float: right;
    margin-top: -26px;
    margin-right: 25px;
}
.card-product {
    height: 270px;
}

/* footer */
#footer {
    background-color: #3A3A3A;
}
.text-footer {
    color: white;
}
.title-footer {
    font-size: 18px;
    font-weight: bold;
}
.kata-footer {
    font-size: 12px;
}
.button {
    border: none;
    background-color: #FFC737;
    width: 115px;
    color: white;
    font-size: 14px;
    height: 40px;
    margin-top: -2px;
    z-index: 1;
}
.form-control {
    background-color: #838383;
    border: none;
    font-size: 12px;
    height: 35px;
    cursor: text;
}

@media (min-width: 320px) and (max-width: 767px) {
    .navbar-logo {
        margin-right: 0;
    }
    .all-category {
        display: block;
    }
    .all-banner {
        margin-top: 110px;
    }
    .banner {
        width: 120px;
    }
    .testi1 {
        padding-left: 10px;
    }
    .title-tertimoni {
        margin-top: 250px;
    }
    #footer {
        margin-top: 585px;
    }
    .background-about {
        margin-bottom: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card-product {
        height: 310px;
    }
    .background-about {
        height: 532px;
        background-position-y: 95px;
        margin-top: 0;
    }
    .img-about {
        margin-top: 100px;
    }
    .paragraf-testimonials {
        width: 310px;
    }
    .testi1 {
        margin-left: -15px;
    }
    .card-category-product2 {
        margin-top: 75px;
        margin-left: -180px;
        
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .navbar-brand {
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 49px;
    }
    .all-category {
        margin-left: -20px;
    }
    .card-category-product {
        width: 225px;
    }
    .card-category-product2 {
        width: 225px;
    }
    .card-product {
        height: 285px;
    }
    .card-testi {
        height: 122px;
    }
    .testi1 {
        float: right;
        padding-left: 53px;
    }
    .name-text-testimonials {
        margin-top: -125px;
    }
}